{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Everything</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Sampleboolean</th>
                <td>{{ entity.sampleBoolean }}</td>
            </tr>
            <tr>
                <th>Sampleinteger</th>
                <td>{{ entity.sampleInteger }}</td>
            </tr>
            <tr>
                <th>Samplesmallint</th>
                <td>{{ entity.sampleSmallInt }}</td>
            </tr>
            <tr>
                <th>Samplebigint</th>
                <td>{{ entity.sampleBigInt }}</td>
            </tr>
            <tr>
                <th>Samplestring</th>
                <td>{{ entity.sampleString }}</td>
            </tr>
            <tr>
                <th>Sampletext</th>
                <td>{{ entity.sampleText }}</td>
            </tr>
            <tr>
                <th>Sampledatetime</th>
                <td>{% if entity.sampleDatetime %}{{ entity.sampleDatetime|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Sampledate</th>
                <td>{% if entity.sampleDate %}{{ entity.sampleDate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Sampletime</th>
                <td>{% if entity.sampleTime %}{{ entity.sampleTime|date('H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Sampledecimal</th>
                <td>{{ entity.sampleDecimal }}</td>
            </tr>
            <tr>
                <th>Samplefloat</th>
                <td>{{ entity.sampleFloat }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('everything') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('everything_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
